@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Poppins:wght@500;700&family=Roboto:wght@400;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Fonts */
  --font-family: "Poppins", sans-serif;

  /* Font sizes */
  --fs-xs: 0.5rem;
  --fs-sm: 0.9375rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.375rem;
  --fs-lgr: 1.75rem;

  /* Spacing */
  --spacing-smallest: 0.5rem;
  --spacing-xs: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-lgr: 2.5rem;
  --spacing-xl: 5rem;

  /* Colors */
  --clr-white: #fff;
  --clr-base: #9e9aa8;
  --clr-accent: #2bd0d0;
  --clr-accent-light: #9ae3e3;
  --clr-primary: #34313d;
  --clr-primary-light: #3a3054;
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--font-family);
  font-size: var(--fs-sm);
  overflow-x: hidden;
  background: #eff1f7;
  color: var(--clr-base);
}

/* Set shorter line heights on headings and interactive elements */
h3,
h4,
button,
input,
label {
  line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  color: var(--clr-primary);
}

h1,
h2 {
  line-height: 3rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* General */
.container {
  padding: 0 var(--spacing-md);
  margin-inline: auto;
}

.btn {
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border: none;
}

button.btn:hover {
  background-color: var(--clr-accent-light);
}

/* Header */
header {
  background-color: var(--clr-white);
  overflow-x: hidden;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--spacing-lgr);
}

.hero img {
  height: 100%;
  min-height: 19rem;
  width: 135%;
}

.hero-cta {
  display: flex;
  flex-direction: column;
}

.hero-cta h1 {
  text-align: center;
  font-size: 2.625rem;
}

.hero-cta p {
  margin-bottom: var(--spacing-lg);
  color: var(--clr-base);
  font-size: var(--fs-md);
  line-height: 1.875rem;
  margin-top: var(--spacing-xs);
}

.hero-cta .btn {
  border: none;
  border-radius: 1.75rem;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  font-size: 1.25rem;
  margin-inline: auto;
  padding: var(--spacing-xs) var(--spacing-lgr);
  cursor: pointer;
  margin-bottom: 10rem;
}

/* Mobile Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lgr) 0;
  position: relative;
  font-size: var(--fs-md);
  font-weight: 700;
}

.nav-items {
  display: none;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 100%;
  max-width: 30rem;
  top: 6rem;
  right: 0;
  background-color: var(--clr-primary-light);
  color: var(--clr-white);
  border-radius: 0.625rem;
  padding: var(--spacing-lgr) var(--spacing-md);
}

.nav-items hr {
  height: 0.0625rem;
  color: var(--clr-base);
  opacity: 0.25;
}

nav .logo {
  display: flex;
}

.nav-links {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: var(--clr-base);
}

.nav-links li {
  margin-bottom: var(--spacing-lg);
}

.nav-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-btns a {
  margin: var(--spacing-lg) 0;
}

.nav-btns button {
  cursor: pointer;
  background-color: var(--clr-accent);
  border: none;
  border-radius: 1.75rem;
  padding: var(--spacing-xs) var(--spacing-md);
  color: inherit;
  min-width: 100%;
  max-width: 30rem;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  caret-color: transparent;
}

.bar {
  height: 4px;
  width: 1.5rem;
  background-color: var(--clr-base);
  margin: 3px 0;
  opacity: 1;
  transition: 300ms;
}

.menu-icon.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}
.menu-icon.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

/* Link submission */
.link-submission {
  background-image: url("public/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  background-color: var(--clr-primary-light);
  border-radius: 0.625rem;
  padding: var(--spacing-md);
  margin-top: -5rem;
}

.link-submission input {
  width: 100%;
  padding: 0.625rem 0;
  padding-left: var(--spacing-sm);
  border-radius: 0.3125rem;
  border: none;
}

.link-submission input.invalid-url {
  border: 3px solid #f46363;
  color: #f46363;
}

.url-error {
  color: #f46363;
  margin-top: 0.25rem;
  margin-bottom: var(--spacing-sm);
}

.link-submission button {
  cursor: pointer;
  width: 100%;
  border-radius: 0.3125rem;
  border: none;
  padding: 0.625rem var(--spacing-lgr);
  background-color: var(--clr-accent);
  color: var(--clr-white);
  font-size: var(--fs-md);
}

/* Link Submissions */
.submission {
  border-radius: 0.3125rem;
  background: #fff;
  padding: var(--spacing-md);
  margin-top: var(--spacing-md);
}
.original-url {
  color: var(--clr-primary);
  overflow: hidden;
  text-overflow: ellipsis;
}

.submission hr {
  height: 0.0625rem;
  border: none;
  margin: var(--spacing-smallest) calc(var(--spacing-md) * -1);
  opacity: 0.25;
  background: var(--clr-base);
}

.shortened-url {
  color: var(--clr-accent);
}

.copy-btn {
  cursor: pointer;
  width: 100%;
  border-radius: 0.3125rem;
  border: none;
  padding: var(--spacing-smallest);
  background-color: var(--clr-accent);
  color: var(--clr-white);
  margin-top: var(--spacing-smallest);
}

.copy-btn.copied {
  background-color: var(--clr-primary-light);
}

.copy-btn.copied:hover {
  background-color: var(--clr-primary-light);
}

.delete-btn {
  cursor: pointer;
  background-color: var(--clr-white);
  border: solid 1px var(--clr-accent);
  color: var(--clr-accent);
  width: 100%;
  padding: var(--spacing-smallest);
  border-radius: 0.3125rem;
  margin-top: var(--spacing-smallest);
}

button.delete-btn:hover {
  background-color: #f46363;
  border-color: #f46363;
  color: var(--clr-white);
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

/* Stat Section */
.stats {
  margin: var(--spacing-xl) 0;
  text-align: center;
}

.stats h2 {
  font-size: var(--fs-lgr);
}

.stat-description {
  font-size: var(--fs-base);
  max-width: 45ch;
  margin-inline: auto;
}

.stat-card {
  margin-top: 5.75rem;
  background-color: var(--clr-white);
  padding: var(--spacing-lg);
  border-radius: 0.3125rem;
  position: relative;
}

.stat-cards {
  position: relative;
}

.vertical-line {
  height: 90%;
  width: 0.5rem;
  background-color: var(--clr-accent);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.stat-icon {
  background-color: var(--clr-primary-light);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translate(-50%);
}

.stat-card h3 {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-xs);
  font-size: var(--fs-lg);
}

/* CTA */
.cta {
  background-color: var(--clr-primary-light);
  background-image: url("public/images/bg-boost-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.5rem var(--spacing-md);
}

.cta h2 {
  font-size: var(--fs-lgr);
  margin-bottom: var(--spacing-sm);
  color: var(--clr-white);
  line-height: 3rem;
  letter-spacing: -0.04375rem;
}

.cta .btn {
  border: none;
  border-radius: 1.75rem;
  background-color: #2bd0d0;
  color: var(--clr-white);
  font-size: 1.25rem;
  margin-inline: auto;
  padding: var(--spacing-xs) var(--spacing-lgr);
  cursor: pointer;
}

/* Footer */
footer {
  background: #232127;
  color: var(--clr-white);
  padding: 3.5rem var(--spacing-md);
  text-align: center;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  margin: 3rem 0;
}

.footer-nav h4 {
  color: inherit;
  font-size: var(--fs-base);
  margin-bottom: 1.25rem;
}

#item-2,
#item-3 {
  margin-top: 1.25rem;
}

.footer-nav ul li {
  list-style-type: none;
}
.footer-nav ul li:not(:last-child) {
  margin-bottom: var(--spacing-smallest);
}

.footer-nav ul li a {
  text-decoration: none;
  color: #bfbfbf;
  font-size: var(--fs-sm);
}

.footer-nav ul li a:hover {
  color: var(--clr-accent);
}

.socials a {
  cursor: pointer;
  text-decoration: none;
  margin: 0 var(--spacing-smallest);
}

.socials a:hover svg path {
  fill: var(--clr-accent);
}

/* Media queries */
@media (min-width: 540px) {
  .hero img {
    width: 100%;
  }
}
@media (min-width: 970px) {
  .container {
    padding: 0 5.5rem;
  }

  /* Header */
  header.container {
    padding-bottom: 10rem;
  }

  .hero {
    flex-direction: row;
  }

  .hero p {
    max-width: 40ch;
  }

  .hero img {
    width: initial;
  }

  .hero-cta {
    min-width: 60%;
    margin-top: 0;
    justify-content: center;
  }

  .hero-cta h1 {
    text-align: left;
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -0.125rem;
  }

  .hero-cta .btn {
    margin: 0;
    display: flex;
    align-self: flex-start;
  }

  /* Link Submission */
  .link-submission {
    margin-top: -2.5rem;
    background-image: url("public/images/bg-shorten-desktop.svg");
    background-position: center;
    background-size: cover;
  }

  .link-submission form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
  }

  #link-form {
    position: relative;
  }

  .link-submission input {
    flex-grow: 1;
    margin-bottom: 0;
    width: auto;
  }

  .link-submission button {
    width: auto;
  }

  .url-error {
    margin: 0;
    position: absolute;
    top: 3.15rem;
    left: 0;
    font-size: 0.795rem;
    line-height: 1.125rem;
    letter-spacing: 0.00681rem;
  }

  /* Submissions */
  .submission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm);
  }

  .submission hr {
    display: none;
    height: 0;
  }

  .copy-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .shortened-url {
    margin-right: var(--spacing-md);
  }

  .copy-btn {
    margin-right: var(--spacing-xs);
  }

  .copy-btn,
  .delete-btn {
    margin-top: 0;
    padding: var(--spacing-smallest) var(--spacing-md);
    box-sizing: content-box;
    min-width: 4rem;
  }

  /* Desktop Navigation */
  .nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: initial;
    width: 100%;
    max-width: initial;
    background-color: initial;
    color: initial;
    border-radius: none;
    padding: 0;
    color: inherit;
    font-size: var(--fs-sm);
  }

  .nav-items hr {
    display: none;
  }

  .nav-links {
    display: flex;
    margin-left: 3rem;
  }

  .nav-links li {
    margin: 0;
  }

  .nav-items a:hover {
    color: #34313d;
  }

  .nav-links li:not(:last-child) {
    margin-right: var(--spacing-lg);
  }

  .nav-btns {
    flex-direction: row;
  }

  .nav-btns a {
    margin: 0;
    margin-right: var(--spacing-lg);
  }

  .nav-btns button {
    color: var(--clr-white);
    min-width: initial;
  }

  .menu-icon {
    display: none;
  }
}

@media (min-width: 1000px) {
  /* Footer */
  footer {
    text-align: left;
    padding: var(--spacing-xl) 0;
  }

  .footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-nav {
    margin: 0;
    display: flex;
    gap: var(--spacing-lg);
  }

  #item-2,
  #item-3 {
    margin-top: 0;
  }

  .footer-right {
    display: flex;
    gap: var(--spacing-xl);
  }
}
@media (min-width: 1300px) {
  .container {
    padding: 0 10.5rem;
  }

  /* Header */
  .hero-cta h1 {
    font-size: 5rem;
    line-height: 5.625rem;
    letter-spacing: -0.125rem;
  }

  .hero-cta p {
    font-size: var(--fs-lg);
  }

  /* Submission */
  .link-submission {
    padding: 3.25rem 4rem;
    margin-top: -5rem;
  }

  .link-submission input {
    padding: var(--spacing-sm) 0;
    padding-left: var(--spacing-sm);
  }

  .link-submission button {
    padding: var(--spacing-sm) var(--spacing-lgr);
  }

  .url-error {
    margin: 0;
    top: 4.5rem;
    left: 0;
    font-size: var(--fs-base);
  }

  /* Stats */
  .stats h2 {
    font-size: 2.5rem;
  }

  .stat-description {
    font-size: var(--fs-md);
  }

  .stat-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-lg);
    text-align: left;
  }

  .stat-card:nth-of-type(2) {
    top: 2.75rem;
  }

  .stat-card:nth-of-type(3) {
    top: 5.5rem;
  }

  .stat-icon {
    left: var(--spacing-lg);
    transform: translate(0%);
  }

  .vertical-line {
    height: 0.5rem;
    width: 90%;
    top: 15rem;
    right: 0;
  }

  /* CTA */
  .cta {
    margin-top: 10rem;
    padding: 3.5rem var(--spacing-md);
  }

  .cta h2 {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-lg);
    letter-spacing: -0.0625rem;
  }

  /* Footer */
  .footer-nav {
    gap: 4.5rem;
  }
}

@media (min-width: 1600px) {
  .hero {
    gap: 0;
  }

  .hero-cta {
    min-width: 50%;
  }

  .hero-cta h1 {
    font-size: 5.5rem;
    line-height: 6.5rem;
  }

  .hero img {
    min-width: 100%;
    min-height: 100%;
  }
}

@media (min-width: 1600px) {
  .hero-cta p {
    max-width: 45ch;
  }
}
